#test{
  display: none;
}
.start{
  cursor: pointer;
  color: #558B2F;
  font-size: 20px;
}

.start:hover{
  text-decoration: underline;
}

.finalResult{
  display: none;
  border: 2px solid #558B2F;
  padding: 5%;
  background-color: #558B2F
}

#display{
  font-size: 25px;
  color: white;
}
h1{
  color: #558B2F;
  text-align: left;
  font-weight: bold;
}

li{
  line-height: 30px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 15px;
}
